.container {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container input,
.container textarea {
  border-radius: 5px;
}
.container form {
  width: 100%;
}
.container form > section {
  border-bottom: 3px solid #ffffff80;
  padding: 20px 0;
}
.descriptionContainer {
  border-bottom: none !important;
}
.container form > section > div {
  margin-bottom: 20px;
}
.container form > section > div > h2 {
  padding-bottom: 2px;
  font-size: 20px;
  color: white;
}

.guildInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}
.guildInfoContainer li {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.guildInfoContainer li > p:first-child {
  opacity: 0.5;
}
.managerNicknameContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.managerNicknameInputContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}

.managerNicknameInputContainer > input {
  flex: 1;
  padding: 5px;
}
.managerNicknames {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}
.managerNickname {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  background-color: #ffffff80;
}
.managerNickname p {
  height: 20px;
  line-height: 20px;
}
.managerNickname > button {
  padding: 0;
}
.managerNickname > button > p {
  color: red;
}
.openKakaotalkLinkContainer input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}
.userConditionsContainer > li {
  display: flex;
  align-items: center;

  justify-content: flex-start;
}
.userConditionsContainer > li:first-child {
  margin-bottom: 15px;
}
.userConditionsContainer input {
  margin-left: 20px;
  padding: 5px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}
.descriptionContainer input,
.descriptionContainer textarea {
  padding: 5px;
}
.descriptionContainer textarea {
  margin-top: 10px;
  height: 200px;
}
.btnContainer {
  width: 100%;
  margin-top: 10px;
}
.btnContainer button {
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  background-color: white;
}
.btnContainer button:hover {
  opacity: 0.5;
}
.btnContainer button > p {
  color: black;
}
