.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.infoContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
}
.infoContainer > div {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.infoContainer img {
  width: 100%;
  object-fit: cover;
  height: auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btnContainer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btnContainer button {
  max-width: 800px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 2525px;
  border: none;
  background-color: var(--header-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btnContainer button:first-child {
  background-color: gray;
}
.btnContainer button:hover {
  opacity: 0.7;
}

@media (max-height: 700px) {
  .infoContainer img {
    max-height: 300px;
  }
}
