.container {
  border: 1px solid #ffffffa5;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.guildInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.guildName {
  font-weight: 800;
  font-size: 16px;
}

.levelSpan {
  font-size: 13px;
}
