.container {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container:hover {
  border: 1px solid var(--font-color);
}

.guildInfoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.worldInfo {
  border-radius: 4px 0 0 4px;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--header-color);
}
.worldInfo > span {
  line-height: 14px;
  font-size: 12px !important;
  color: white;
}
.guildName {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--font-color);
}

.levelSpan {
  font-size: 13px;
}
