.container {
  border: 1px solid #ffffffa5;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container:hover {
  border: 1px solid #ffffff;
}

.guildInfoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 5px;
}
.worldInfo {
  border-radius: 5px;

  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(167, 167, 167);
}
.worldInfo > span {
  line-height: 14px;
}
.guildName {
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

.levelSpan {
  font-size: 13px;
}
