.container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.container > li {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--background-color);
}
