.signInContainer {
  min-width: 300px;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.titleContainer,
.credentialsContainer,
.kakaoLoginContainer {
  width: 100%;
}
.titleContainer {
  padding-top: 120px;
}
.titleContainer > h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: whitesmoke;
  font-family: "NEXON Lv1 Gothic OTF";
}
.credentialsContainer {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.credentialsContainer > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.credentialsContainer > form > input {
  height: 50px;
  width: 100%;
  padding: 0 10px;
  font-size: 16px;
}
.credentialsContainer > form > button {
  height: 50px;
  width: 100%;
  background-color: #2e2929;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  font-family: "NEXON Lv1 Gothic OTF";
}
.accountLinksContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.accountLinksContainer a {
  font-size: 10px;
}
.kakaoLoginContainer > form {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #fee500;
}

.kakaoLoginContainer > form > button > p {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
