.signInContainer {
  min-width: 300px;
  max-width: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
}
.titleContainer,
.credentialsContainer,
.kakaoLoginContainer {
  max-width: 400px;
  width: 100%;
}
.titleContainer {
  padding-top: 100px;
}
.titleContainer > h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--font-color);
  font-family: 'NEXON Lv1 Gothic OTF';
}
.titleContainer > h1:hover {
  cursor: pointer;
}
.credentialsContainer {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.credentialsContainer > span {
  width: 100%;
  padding: 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: rgb(132, 42, 42);
}
.credentialsContainer > span > p {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.credentialsContainer > span > p:hover {
  cursor: pointer;
}
.credentialsContainer > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.credentialsContainer > form > input {
  height: 50px;

  width: 100%;
  border: 1px solid var(--border-color);
  padding: 0 10px;
  font-size: 16px;
}
.credentialsContainer > form > input:focus {
  border: 1px solid var(--font-color);
}
.checkboxContainer {
  margin: 5px 0;
  display: flex;

  align-items: center;
  gap: 5px;
}
.checkboxContainer > input[type='checkbox'] {
  width: 13px;
  height: 13px;
  margin: 0;
  border: 1px solid var(--border-color);
  padding: 5px;
  transition: background-color 0.3s;
}
.checkboxContainer > input[type='checkbox']:checked {
  background-color: var(--font-color);
}

.credentialsContainer > form > button {
  height: 50px;
  width: 100%;
  background-color: #2e2929;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
  font-family: 'NEXON Lv1 Gothic OTF';
}

.accountLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.accountLinksContainer > a {
  color: var(--font-color);
  font-weight: 300;
}

.accountLinksContainer > a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.gap {
  width: 1px;
  height: 13px;
  background-color: var(--font-color);
}
.kakaoLoginContainer > form {
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  background-color: #fee500;
}
.kakaoLoginContainer > form > button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.kakaoLoginContainer > form > button > p {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

@media (max-width: 768px) {
  .signInContainer {
    padding: 10px 15px;
    justify-content: center;
  }
  .titleContainer {
    padding-top: 0;
  }
}
