.tableContainer {
  width: 100%;
  height: 100%;

  overflow-y: auto;
}
.rankingTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}
.rankingTable thead {
  border-bottom: 1px solid #ffffff4a;
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: #353535;
}

.guild {
  border-bottom: 1px solid #ffffff4a;
}

.tableContainer th,
.tableContainer td {
  padding: 5px;
}

@media (max-width: 600px) {
}
