.headerContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper {
  flex: 1;
}

.navigationWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.userActionWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.headerContainer p {
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 12000;
}
.headerContainer p:hover {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .headerContainer p {
    font-size: 12px;
  }
}
