.headerContainer {
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer div:nth-child(2) {
  min-width: 50px;
}

.headerContainer p {
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 12000;
}
.headerContainer p:hover {
  opacity: 0.5;
}
@media (max-width: 400px) {
  .headerContainer p {
    font-size: 12px;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .headerContainer p {
    font-size: 14px;
  }
}
