.headerContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.headerContainer > div:nth-child(2) {
  width: 40%;
}

.headerContainer p {
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: 12000;
}
