.container {
  max-width: 900px;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container span,
.guildNameWrapper h2 {
  font-family: 'Nexon Lv1 Gothic OTF';
}

.guildHeaderContainer {
  width: 100%;
  min-height: 200px;
  height: 100%;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--table-color);
}

.charContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.guildNameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.guildNameWrapper h2 {
  font-weight: 600;
  font-size: 40px;
}

.guildInfoContainer {
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;

  color: white;
  background-color: var(--header-color);
}
.guildInfo {
  height: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.guildInfo > div:first-child > span {
  opacity: 0.7;
}
.guildInfo > div:last-child > span {
  font-weight: 700;
}
.guildInfoGap {
  width: 1px;
  max-height: 100%;
  background-color: var(--background-color);
}
.guildMemberWrapper {
  border: 1px solid var(--border-color);
  padding: 20px 10px;
  background-color: var(--table-color);
}
