.signIn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn > form {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: #fee500;
}

.signIn > form > button > p {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
