.container {
  width: 790px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.container > li {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--background-color);
  position: relative;
}
.masterCharHeader {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--header-color);
}

.masterCharHeader {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 0 4px 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charInfo {
  width: 100%;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;

  align-self: center;
  gap: 3px;
}
.charImage {
  border: 1px solid var(--border-color);
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}
.charInfo span {
  opacity: 0.7;
  font-size: 13px;
  font-family: 'GmarketSansTTFMedium';
}

.charInfo > span:first-child {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}

.loadingText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 300px) {
  .container {
    width: 150px;
  }
}
@media (min-width: 301px) and (max-width: 510px) {
  .container {
    width: 310px;
  }
}
@media (min-width: 511px) and (max-width: 684px) {
  .container {
    width: 470px;
  }
}
/* @media (max-width: 600px) {
  .container {
    width: 510px;
  }
} */

@media (min-width: 685px) and (max-width: 880px) {
  .container {
    width: 630px;
  }
}
