.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--table-color);
}
.container li:hover {
  cursor: pointer;
}
.serverListContainer {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.serverListContainer > ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.serverListContainer > ul > li {
  border-radius: 5px;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.serverListContainer > ul > li > span {
  line-height: 12px;
  font-size: 12px;
}
.rankingTypeContainter {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rankingTypeContainter > ul {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.rankingTypeContainter > ul > li {
  border-radius: 5px;
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.rankingTypeContainter > ul > li > span {
  font-size: 12px;
  line-height: 12px;
}
.rankTableHeader {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
}
.rankTableHeader > p,
.rankTableHeader > button {
  color: white;
  text-align: center;
}
.serverListContainer > ul > li:hover,
.rankingTypeContainter > ul > li:hover {
  opacity: 0.5;
}
