.container {
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'NEXON Lv1 Gothic OTF';
  overflow: hidden;
  background-color: var(--table-color);
}
.container h3 {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  background-color: var(--header-color);
}
.score {
  color: #616161;

  font-weight: 400;
}
.firstContainer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
.firstContainer div {
  flex: 1;
}
.anotherRankingContainer {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.anotherRankingContainer > div {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.anotherRankingContainer > div > div {
  flex: 1;
}
.firstContainer span,
.anotherRankingContainer span {
  padding: 0 10px;
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
}
.guildInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.guildName {
  display: flex;
  justify-content: center;
}
.guildName > a {
  display: flex;
  justify-content: center;
  gap: 5px;
  line-height: 18px;
  white-space: nowrap;

  font-size: 15px;
  font-family: none;
  font-weight: 600;
  color: var(--font-color);
}

.guildName > a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.loadingWrapper {
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}
