.container {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--table-color);
}
.container h3 {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  background-color: var(--header-color);
}
.score {
  color: #616161;

  font-weight: 400;
}
.firstContainer {
  width: 100%;
  padding: 10px 0;
  display: grid;

  grid-template-columns: 1fr 2fr;
  background-color: #dcdcdc;
}

.anotherRankingContainer {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.anotherRankingContainer > div {
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 2fr;
}

.firstContainer span,
.anotherRankingContainer span {
  padding: 0 10px;
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
}
.guildInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 3px;
}
.guildInfo > p {
  align-self: flex-start;
}
.guildName {
  display: flex;
  justify-content: center;
}
.guildName > a {
  display: flex;
  justify-content: center;
  gap: 5px;
  line-height: 18px;
  white-space: nowrap;

  font-size: 15px;
  font-family: none;
  color: var(--font-color);
}

.guildName > a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.loadingWrapper {
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}
