.postContainer {
  height: 100%;
  width: 250px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.postHeader {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.postHeader > div > p {
  font-size: 20px;
}
.guildConditions {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.guildConditions > div {
  border-radius: 6px;
  padding: 4px;
}
.guildConditions > div > p {
  font-size: 13px;
}
.nobleWrapper {
  background-color: blue;
}
.guildType {
  background-color: orange;
}
.suroPoint {
  background-color: red;
}
.limitedLevel {
  background-color: red;
}
.postDate > p {
  font-size: 13px;
}
.postMain {
  margin-bottom: 5px;
}
.postFooter {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
