.postContainer {
  height: 100%;
  width: 250px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
}
.postContainer:hover {
  transform: scale(1.05);
}
.postHeader {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.postHeader > div:first-child > p {
  font-size: 20px;
}

.guildType {
  border-radius: 6px;
  padding: 5px;
}
.guildType > p {
  font-size: 13px;
}

.guildConditions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.guildConditions > div {
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guildConditions > div > p {
  font-size: 12px;
}

.nobleWrapper {
  background-color: #008080;
}

.suroPoint,
.limitedLevel {
  background-color: red;
}

.postDate > p {
  font-size: 13px;
}
.postMain {
  height: 50px;
  margin-bottom: 5px;
}
.postFooter {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}
