.container {
  max-width: 200px;
  width: 100%;
  position: relative;
  z-index: 10;
}
.container:hover,
.inputContainer input:hover {
  cursor: pointer;
}
.inputContainer {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputContainer:hover {
  opacity: 0.8;
}

.inputContainer input {
  width: 100%;
  border: none;
}

.container ul {
  width: 100%;
  padding: 5px;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container ul > li {
  padding: 5px 10px;
}
.container ul > li:hover {
  background-color: #3636ff90;
}
.container ul > li > p {
  color: black;
}

.optionContainer {
  margin-top: 5px;
  border-radius: 5px;
}
