.postContainer {
  width: 280px;
  height: 280px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--table-color);
}
.postContainer p {
  color: var(--font-color);
}
.postContainer span {
  color: white;
}
.postContainer:hover {
  border: 1px solid black;
}
.postContainer > div {
  width: 100%;
  padding: 10px;
}
.postHeader {
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
}

.guildName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guildName > p {
  font-size: 14px;
  line-height: 16px;
}
.guildType {
  border-radius: 6px;
  padding: 5px;
}
.guildType > p {
  font-size: 13px;
  line-height: 13px;
}

.guildConditions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.guildConditions > div {
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guildConditions > div > span {
  align-items: center;
}

.nobleWrapper {
  background-color: #008080;
}

.suroPoint,
.limitedLevel {
  background-color: red;
}
.postMain {
  height: 100%;
  margin-bottom: 5px;
}
.postMain p {
}
.postFooter {
  border-top: 1px solid var(--text-color);
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.contactContainer {
  display: flex;
  gap: 5px;
}
.contactContainer svg {
  font-size: 17px;
}
.contactContainer svg:last-child {
  border-radius: 5px;
}
.publisherInfoContainer {
  display: flex;
}
.publisherInfoContainer > div {
  line-height: 17px;
}
.gap {
  width: 1px;
  height: 100%;
  margin: 0 5px;
  background-color: black;
}
@media (max-width: 600px) {
  .postContainer {
    width: 100%;
    height: 200px;
  }
}
