.postContainer {
  height: 280px;
  width: 280px;
  border: 1px solid #ffffff80;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postContainer:hover {
  border: 1px solid #ffffff;
}
.postContainer > div {
  width: 100%;
  padding: 10px;
}
.postHeader {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: space-between;
}

.guildName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guildName > p {
  font-size: 16px;
  line-height: 16px;
}
.guildType {
  border-radius: 6px;
  padding: 5px;
}
.guildType > p {
  font-size: 13px;
  line-height: 13px;
}

.guildConditions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.guildConditions > div {
  border-radius: 6px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guildConditions > div > p {
  font-size: 13px;
  line-height: 13px;
}

.nobleWrapper {
  background-color: #008080;
}

.suroPoint,
.limitedLevel {
  background-color: red;
}
.postMain {
  height: 100%;
  margin-bottom: 5px;
}
.postFooter {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.contactContainer {
  display: flex;
  gap: 5px;
}
.publisherInfoContainer {
  display: flex;
}
.gap {
  width: 1px;
  height: 100%;
  margin: 0 5px;
  background-color: #ffffff80;
}
@media (max-width: 600px) {
  .postContainer {
    min-width: 300px;
    width: 100%;
    height: 200px;
  }
}
