.pageBtnContainer {
  padding: 10px 0;
  display: flex;
  gap: 5px;
}
.pageBtnContainer > li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageBtnContainer > li > button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pageBtnContainer > li > button:hover {
  background-color: rgb(202, 202, 202);
}
