.serverContainer {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.serverItem {
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serverItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.serverItem a > p {
  font-size: 14px;
  line-height: 14px;
}
.serverContainer a:hover {
  opacity: 0.5;
}
