.container {
  width: 200px;
  height: 100px;
  border: 1px solid #ffffffa5;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ffffffa5;
}
