.headerContainer {
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.titleWrapper > a > p {
  width: 100%;
}

.navigationWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.userActionWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.headerContainer p {
  font-size: 14px;
  white-space: nowrap;
}
.headerContainer a:hover,
.headerContainer button:hover {
  opacity: 0.5;
}
