.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileContainer {
  padding: 5px;

  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.fileContainer input {
  border: none;
}

.fileContainer label {
  border-radius: 5%;
  padding: 5px;
  background-color: gray;
  color: black;
}

.fileContainer p {
  color: black;
}

.fileContainer input[type="file"] {
  display: none;
}
