.container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.serverListWrapper {
  width: 100%;
  background-color: var(--header-color);
}
.optionContainer {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.filterContainer {
  position: relative;
  padding: 5px 20px;
}
.conditionContainer {
  position: absolute;
  top: 100%;
  background-color: #282a2c;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
  z-index: 30;
  color: white;
}
.conditionContainer button:first-child {
  background-color: rgb(149, 52, 52);
}
.conditionContainer button {
  border-radius: 5px;
  padding: 10px 20px;

  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'GmarketSansMedium';
}

.conditions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.conditions > div {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  gap: 5px;
}
.btnContainer {
  padding: 0 5px;
  display: flex;
  gap: 10px;
}
.btnContainer button {
  width: 100%;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.guildPostListContainer {
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.guildPostList {
  width: 900px;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
}
.guildPostList > li {
  width: 280px;
  height: 280px;
}

@media (max-width: 600px) {
  .optionContainer {
    padding: 10px 0 0 0;
  }
  .guildPostListContainer {
    width: 100%;
    margin: 0;
  }
  .guildPostList {
    width: 100%;
  }
  .guildPostList > li {
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .guildPostList {
    width: 605px;
  }
}
