.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serverListWrapper {
  width: 100%;
}
.optionContainer {
  max-width: 900px;
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.optionContainer > div > div {
  border-radius: 50px;
}

.optionContainer div {
  max-width: 150px;
  width: 100%;
}

.guildPostList {
  max-width: 900px;
  width: 100%;
  height: 100%;
  padding: 20px 5px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 600px) {
  .optionContainer p {
    font-size: 9px;
  }
  .guildPostList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 20px;
  }
}
