.container {
  max-width: 900px;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.postHeaderContainer {
  width: 100%;
  padding: 50px 0;
  border-bottom: 5px solid #ffffff80;
}
.titleWrapeer {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.titleWrapeer > h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.publisherInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.publisherName {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.separate {
  width: 2px;
  height: 20px;
  background-color: #ffffff80;
}

.guildConditionsContainer {
  width: 100%;

  padding: 50px 0;
  border-bottom: 5px solid #ffffff80;
}

.guildConditionsContainer span,
.guildConditionsContainer h2 {
  color: white;
}
.guildName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  font-weight: 600;
}
.guildName h2 {
  display: flex;
  gap: 5px;
}

.guildInfoLink {
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff80;
  font-size: small;
}
.guildConditionsListBox {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  row-gap: 20px;
}

.guildConditionsInfo > span {
  font-size: 20px;
}
.guildConditionsInfo > span:first-child {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.guildConditionsInfo > span:last-child {
  font-weight: 700;
}
.managerNameContainer {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.managerNameContainer p {
  border-radius: 5px;
  padding: 5px;
  background-color: gray;
}
.managerNameContainer p:hover {
  cursor: pointer;
}
.desWrapper {
  width: 100%;
  height: 100%;
  margin: 50px 0;
}

.desWrapper > div > pre {
  color: white;
  line-height: 1;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .postHeaderContainer,
  .guildConditionsContainer {
    border: none;
  }
  .postHeaderContainer {
    padding: 20px 0 0 0;
  }
  .guildConditionsListBox {
    border: 2px solid #ffffff80;
    border-radius: 5px;
    padding: 15px;
  }
  .guildConditionsInfo p,
  .guildConditionsInfo span {
    font-size: 13px;
  }
  .titleWrapeer h1 {
    font-size: 20px;
  }

  .publisherInfo > div:first-child {
    width: 40px;
    height: 40px;
  }
  .publisherName {
    font-size: 18px;
  }
}
