.postHeaderContainer {
  width: 100%;
  padding: 50px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--font-color);
}

.titleWrapeer > h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.publisherInfo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.publisherName {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .postHeaderContainer {
    padding: 20px 10px 10px 10px;
  }
  .titleWrapeer > h1 {
    font-size: 20px;
  }
  .publisherName {
    font-size: 16px;
  }
}
