.container {
  max-width: 900px;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-family: 'GmarketSansMedium' !important;
  color: var(--font-color);
  background-color: var(--table-color);
}

.container span,
.container p {
  font-size: 16px;
  line-height: 22px;
}

.container h2 {
  font-size: 25px;
}
.container a {
  border: 1px solid black;
  background-color: black;
  border-radius: 25px;
  padding: 2px 5px;
  font-weight: 700;
  display: flex;
  gap: 5px;
  color: white;
}
.guildInfoContainer,
.conditionContainer,
.guildIntroContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.guildInfo {
  border-top: 1px solid var(--border-color);
  padding: 20px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.guildInfo > li {
  display: flex;
  gap: 30px;
}
.guildInfo > li > span:first-child {
  opacity: 0.5;
}

.conditionList {
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding: 20px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.conditionList > div {
  border: 1px solid var(--border-color);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conditionList > div > span:first-child {
  opacity: 0.5;
}
.conditionList > div:nth-child(2) {
  border-left: none;
  border-right: none;
}
.conditionList > div:nth-child(3) {
  border-right: none;
}
.guildIntro {
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding: 20px 10px 10px 10px;
  min-height: 300px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.btnWrapper button {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid var(--border-color);
  color: white;
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
  .container span,
  .container p {
    font-size: 13px;
    line-height: 15px;
  }
  .guildInfo > li {
    gap: 20px;
  }
  .guildInfoContainer {
    flex-direction: column;
    gap: 20px;
  }
  .container h2 {
    font-size: 20px;
  }
}
