.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header > p {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 400;
  align-self: flex-start;
}
.infoContainer {
  width: 100%;
  flex: 1;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: var(--font-color);
}
.infoContainer > section {
  width: 100%;
}
.infoContainer > section:first-child {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}
.infoContainer > section:last-child {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 20px;
}
.infoContainer > section input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--font-color);
  background: none;
}

.addCharNameHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.addCharBtnContainer {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.addCharBtnContainer input {
  border: none !important;
  border-radius: 0;
}
.addCharBtnContainer button {
  padding: 10px 10px;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
}
.resultContainer {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.charNameContainer {
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.charNameContainer span {
  font-size: 16px;
  line-height: 20px;
}
.btnContainer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btnContainer button {
  max-width: 800px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 2525px;
  border: none;
  background-color: var(--header-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btnContainer button:first-child {
  background-color: gray;
}
