.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header > p {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 400;
  align-self: flex-start;
}

.infoContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
}
.infoContainer > div {
  width: 100%;
}
.infoContainer > div span {
  align-self: flex-start;
}
.titleContainer:hover,
.descriptionContainer:hover {
  border: 1px solid var(--font-color);
}
.titleContainer {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.titleContainer > input {
  border: none;
  background: none;
  font-size: 15px;
}
.inputLengthText {
  font-size: 11px;
  opacity: 0.7;
  align-self: flex-end;
}
.descriptionContainer {
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.descriptionContainer > span {
  padding: 10px;
}
.descriptionContainer > div:nth-child(2) {
  width: 100%;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}
.descriptionContainer > div:last-child {
  width: 100%;
  min-height: 300px;
  height: 100%;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.descriptionContainer > div:last-child :focus {
  outline: none;
  border: none;
}
.descriptionContainer > div:last-child p {
  margin-bottom: 5px;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  color: var(--font-color);
}
.descriptionContainer > div:last-child strong {
  font-weight: 700 !important;
}

.descriptionContainer > div:last-child em {
  font-style: italic !important;
}

.descriptionContainer > div:last-child u {
  text-decoration: underline !important;
  text-decoration-skip-ink: none !important;
}

.descriptionContainer > div:last-child s {
  text-decoration: line-through !important;
}

.descriptionContainer > div:last-child .align-left {
  text-align: left !important;
}

.descriptionContainer > div:last-child .align-center {
  text-align: center !important;
}

.btnContainer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnContainer button {
  max-width: 800px;
  width: 100%;
  height: 38px;
  padding: 10px 20px;
  border-radius: 2525px;
  border: none;
  background-color: var(--header-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btnContainer button:first-child {
  background-color: gray;
}

.image {
  max-width: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
  pointer-events: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.focused {
  border: 1px solid var(--font-color);
}

.emptyEditor::before {
  color: #9e9e9e !important;
  content: attr(data-placeholder) !important;
  float: left !important;
  height: 0 !important;
  pointer-events: none !important;
}

@media (max-width: 600px) {
  .infoContainer {
    padding: 0 10px;
  }
}
