.container {
  max-width: 900px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
  color: var(--font-color);
  font-family: 'NEXON Lv1 Gothic OTF';
}
