html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-fill-color: inherit;
}

button {
  border: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  -webkit-text-fill-color: inherit;
}
button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p,
label,
a,
span {
  font-family: 'GmarketSansMedium';
  align-self: center;
}
textarea {
  resize: none;
}
input {
  border-width: 1;
}
input,
select {
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input::-ms-clear {
  display: none;
}
/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-out-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} /* IE에서 Select box 화살표 제거 */
select:-ms-expand {
  display: none;
}
/*Firefox에서 input number 화살표 없애는 방법*/

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -mox-appearance: none;
  appearance: none;
}
input:focus,
select:focus,
textarea :focus {
  outline: none;
}
body {
  line-height: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
}
main > div {
  background-color: var(--background-color);
}
header,
main,
footer {
  min-width: 300px;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
th,
td {
  font-size: 13px;
  font-family: 'GmarketSansMedium';
}

:root {
  --header-color: #525fe4;
  --background-color: #e8e8e8;
  --text-color: #000000;
  --border-color: #979797;
  --font-color: #000000;
  --table-color: #f8f8f8;
  --selected-color: rgb(61, 61, 61);
}
[data-theme='dark'] {
  --header-color: #0000000;
  --background-color: #000000; /* 배경색: 검은색 */
  --text-color: #ffffff; /* 텍스트 색: 흰색 */
  --border-color: #444444; /* 테두리 색: 어두운 회색 */
  --font-color: #ffffff; /* 폰트 색: 흰색 */
}
/* --background-color: #f8f8f0; */
/* --table-color: #dcdcdc; */
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}
