.modal {
  width: 100%;
  height: 100%;
}
.modal p {
  align-self: flex-start;
}
.backBtn {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.backBtn > p {
  font-size: 16px;
  line-height: 20px;
  align-self: center !important;
}

.historyListContainer {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.historyListContainer > ul {
  padding: 0 10px;
}
.historyPostList {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.historyItem {
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.historyItem:hover {
  background-color: #a2a2a2;
}
.historyPostList::-webkit-scrollbar {
  width: 8px;
}
.historyPostList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.historyPostList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.historyTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  flex: 1;
}
