.container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > div:last-child {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.noResult {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noResult > div:last-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
